<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
      <meta charset="utf-8" />
      <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
      <title>Reaper Project View</title>
  </head>
  <body>
    <div class="row row-padded">
    <div class="span5">
    
    <form class="well" action="/rpp_name" method="post" enctype="multipart/form-data">
        <b>Choose an RPP file:</b>
      <input type="file" name="rpp_file">
      <br>
      <input type="submit" value="Display" name="display" class="btn btn-primary">
      <input type="submit" value="Help" name="help" class="btn btn-primary">
    </form>
    </div>

    <div class="span7">
    <div class="well"><b>Track listing for: <div id=send-text>{{rpp_name}}</div></b></div>
    </div>
    </div>
    
    {% if tracks %}
        {% for track in tracks %}
            <div class="row row-padded">
                {% if track.indent %}
                <i class="span1 icon-play"></i>
                <div class="span3">
                <p class="well"><b>Track #{{ loop.index0 }}: {{ track.name }}</b></p>
                </div>
                {% else %}
                <div class="span4">
                    {% if track.name == "Master" %}
                        <p class="well"><b>Master</b></p>
                    {% else %}
                        <p class="well"><b>Track #{{ loop.index0 }}: {{ track.name }}</b></p>
                    {% endif %}
                </div>
                {% endif %}
                <div class="span8">
                    {%if track.vsts|count %}
                    <table class="table table-bordered table-striped table-condensed">
                        {% for vst in track.vsts %}
                            <tr><td>{{vst.name}}</td><td>{{vst.exe}}</td></tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if track.extras %}
                        <div class="well">
                            {% for send in track.send_names %}
                                <div id=send-text>Sends to track #{{send}}</div>
                            {% endfor %}
                            {% for recv in track.recv_names %}
                                <div id=recv-text>Receives from track #{{recv}}</div>
                            {% endfor %}
                            {% if track.notes %}
                                <div id=notes-text>Notes: {{track.notes}}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if track.indent %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
  </body>
</html>
{% endautoescape %}
