.row-padded {
  padding:10px;
}

#send-text {
  color: #6699CC;
}

#recv-text {
  color: #339900;
}

#notes-text {
  color: #660000;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #C0C0C0;
}

.well {
  border: 1px solid #C0C0C0;
}

.table-bordered {
  border: 1px solid #A0A0A0;
}
